.classpath
.project
.settings
fxc/target

Debug
Release
fxc.sdf
ipch
fxc.vcxproj.user
scaffold.vcxproj.user
dll/fxc/fxc.suo
fxc.opensdf

fxc2/logs
fxc2/project/project
fxc2/project/target
fxc2/target
fxc2/tmp
fxc2/.history
fxc2/dist
fxc2/.idea
fxc2/*.iml
fxc2/out
fxc2/.idea_modules
fxc2/.classpath
fxc2/.project
fxc2/RUNNING_PID
fxc2/.settings

